@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "The Joel Hilton Film Collection";
    ViewBag.Header = "Joel Hilton's Movies";
}

@model IEnumerable<MovieList.Models.AddMovie>


<div>
    <table class="table table-bordered" table-hover>
        <thead>
            <tr>
                <th>Movie</th>
                <th>Category</th>
                <th>Year</th>
                <th>Director</th>
                <th>Rating</th>
                <th>Edited</th>
                <th>Lent To</th>
                <th>Notes</th>
                <th> </th>
                <th> </th>
            </tr>
        </thead>

        <tbody>
            @foreach (MovieList.Models.AddMovie x in Model)
            {

                @if (x.MovieTitle == "Independence Day")
                {
                    <tr>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>N/A</td>
                    </tr>
                }
                
                else
                {
                    <tr>
                        <td>@x.MovieTitle</td>
                        <td>@x.Category</td>
                        <td>@x.Year</td>
                        <td>@x.Director</td>
                        <td>@x.Rating</td>
                        <td>@x.Edited</td>
                        <td>@x.LentTo</td>
                        <td>@x.Notes</td>
                        <td>
                            <form id="@x.MovieID" asp-action="EditMovies" method="post">
                                <input type="hidden" value="@x.MovieID" name="id" />
                                <span>
                                    <button type="submit" class="btn btn-primary">Edit</button>
                                </span>
                            </form>
                        </td>
                        <td>
                            <form id="@x.MovieID" asp-action="DeleteMovies" method="post">
                                <input type="hidden" value="@x.MovieID" name="id" />
                                <span>
                                    <button type="submit" class="btn btn-primary">Delete</button>
                                </span>
                            </form>
                        </td>
                    </tr>
                }

            }
        </tbody>
    </table>
</div>